<!-- posts-index -->
<div class="row mt-4">
 <div class="col-lg-6 offset-lg-3">
<h1>Posts</h1>
{{#each posts}}
<div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
<small>{{this.url}}</small>
<p>summary: {{this.summary}}</p>


<div class="text-right">
 <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
 <div><small>{{this.author.username}}</small></div>
</div>
{{/each}}
</div>
</div>